{% extends "base.html" %}
{% block usd_button %}btc_usd(){% endblock %}
{% block eur_button %}btc_eur(){% endblock %}
{% block brl_button %}btc_brl(){% endblock %}
{% block jpy_button %}btc_jpy(){% endblock %}
{% block content %}
    <script>
        function btc_usd() {
            document.getElementById("currency_response").innerHTML = "1 BTC = {{currency_data[0]['value']}} {{currency_data[0]['symbol2']}}";
        }

        function btc_eur() {
            document.getElementById("currency_response").innerHTML = "1 BTC = {{currency_data[2]['value']}} {{currency_data[2]['symbol2']}}";
        }

        function btc_brl() {
            document.getElementById("currency_response").innerHTML = "1 BTC = {{currency_data[1]['value']}} {{currency_data[1]['symbol2']}}";
        }

        function btc_jpy() {
            document.getElementById("currency_response").innerHTML = "1 BTC = {{currency_data[3]['value']}} {{currency_data[3]['symbol2']}}";
        }

    </script>

    <div id="currency_response"> 1 BTC = </div>

{% endblock %}